{% extends 'base.html' %}

{% block content %}

{% if error%}
<br/>
{{error}}
<br/>
{% endif %}

<br/>
<h1> Sign Up!</h1>
<form method="POST" action="{% url 'signup' %}">
    <!-- this piece of code will prevent different types of attack-->
    {% csrf_token %}
    <br/>
    Username:
    <br/>
    <input type="text" name="username"/>
    <br/>
    Password:
    <br/>
    <input type="password" name="password1"/>
    <br/>
    Confirm Password:
    <br/>
    <input type="password" name="password2"/>
    <br/>
    <br/>
    <input class="btn btn-danger" type="submit" value="Sign Up!"/>
</form>

{% endblock %}