{% extends 'base.html' %}

{% block content %}

{% if error%}
<br/>
{{error}}
<br/>
{% endif %}

<br/>
<h1>Create Product</h1>
<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
    <!-- this piece of code will prevent different types of attack-->
    {% csrf_token %}
    <br/>
    Title:
    <br/>
    <input type="text" name="title"/>
    <br/>
    
    URL:
    <br/>
    <input type="text" name="url"/>
    <br/>

    Body:
    <br/>
    <textarea type="textarea" rows=6 cols=100 name="body"></textarea>
    <br/>

    Icon:
    <br/>
    <input type="file" name="icon"/>
    <br/>

    Image:
    <br/>
    <input type="file" name="image"/>
    <br/>

    <br/>
    <input class="btn btn-danger" type="submit" value="Create"/>
</form>

{% endblock %}