{% extends 'base.html' %}

{% block content %}

{% for product in products.all %}
<div class="row pt-5">
    <div class="col-2" >
        <img src="{{product.icon.url}}" class="img-fluid" height="200" width="200" />
    </div>
    <div class="col-6">
        <h1>{{ product.title }}</h1>
        <p>{{ product.summary }}</p>
    </div>
    <div class="col-2">
            <a href="javascript:{document.getElementById('{{product.id}}').submit()}" ><button class="btn btn-danger btn-lg" ><span class="oi oi-thumb-up"></span> Upvote {{product.votes_total}}</button></a>
    </div>
</div>

<form id='{{product.id}}' method="POST" action="{% url 'upvote' product.id %}">
        {% csrf_token %}
        <input type="hidden"/>
</form>

{% endfor %}

{% endblock %}